<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../../_components/head', {title: 'Home', page: 'index', projects}) %>
</head>
<body>
<div id="page" class="flex">
	
    <%- include('../../_components/header') %>


    <main>
            <div class="hero flex">
				<img class="hero-image container" src="/images/hero.jpg" alt="">

                <div class="content container">
						<h1 class="title">Transforme sua ideia em um <strong>site incrível</strong>!</h1>
						<p class="sub">Confira meus projetos, inspire-se e entre em contato para criar um site que <strong>destaque sua marca</strong>. Solicite seu orçamento sem compromisso!</p>
					

					<div class="hero-footer">
						<a class="text btn-contato" href="">
							<img src="icons/whatsapp.svg" alt="Icone de contato via Whatsapp">
							<span>Contato</span>
						</a>

						<div class="box-icons">
							<a class="icon" href="https://www.linkedin.com/in/vitor-lopes-991238171" target="_blank"><img src="icons/linkedin.svg" alt="Icone de contato via Linkedin"></a>
							<a class="icon" href="https://github.com/Vitinn089" target="_blank"><img src="icons/github.svg" alt="Icone de contato via GitHub"></a>
							<a class="icon" href="mailto:vitorlopes089@gmail.com?subject=Desenvolvimento de sites&body=Olá gostaria de mais detalhes para a criação de um site." target="_blank"><img src="icons/email.svg" alt="Icone de contato via email"></a>
						</div>
					</div>
				</div>
            </div>

        <nav>
            <div class="menu-selection" data-selected="true">
                <span class="text">Webpages</span>
            </div>
            <div class="menu-selection disabled">
                <span class="text">Websites</span>
            </div>
            <div class="menu-selection disabled">
                <span class="text">Aplicativos Web</span>
            </div>
        </nav>

		<div class="cards container">
			<% projects.forEach(project => { %>
					<%- include('./components/card.ejs', {project}) %>
			<% }); %>
		</div>
		
		<%- include('./components/board.ejs' ) %>
    </main>

	<%- include('../../_components/footer.ejs') %>
</div>
</body>
</html>