<!-- <link rel="stylesheet" href="/styles/partials/card.css"> -->
	<div class="card" data-project=<%= project.name %>>
		<div class="image-selected">
			<img src=<%= project.capaUrl %> alt=<%= project.capaUrl %>>
		</div>
		<h3	 class="title3"><%= project.title %></h3>
		<p class="desc2">
			<% let text =''
			project.topics.forEach((topic, i) => { 
				let b = i == 0 ? '' : ' // ' 
				text +=  b + topic.toUpperCase()
			}) %>
				<%= text %>
		</p>
	</div>