<!-- <link rel="stylesheet" href="/styles/partials/card.css"> -->
	<div class="card" data-project=<%= project.name %>>
		<div class="image-selected">
			<img src=<%= project.capaUrl %> alt=<%= project.capaUrl %>>
		</div>
		<h3	 class="title3"><%= project.title %> <a href=<%= project.url %> target="__parent"><img src="icons/github.svg" alt=""></a></h3>
		<p class="desc2"><%= project.languages %></p>
	</div>